@media only screen and (max-width: 299px) {
  #navbrand {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 365px) {
  #navbrand {
    font-size: 1.5rem;
  }
}
#about {
margin-top: 40px;
font-size: 1.10em;
font-family: 'Alegreya', serif;
text-align: left;
  height: auto;
  width: auto;
}
#heading {
  font-family: 'Alegreya', serif;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
#about-me {
  font-family: 'Alegreya', serif;
}
#name {
  color: rgb(59, 43, 43)
}
#title {
  color: rgb(187, 97, 157);
}
