@media only screen and (max-width: 299px) {
  #navbrand {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 365px) {
  #navbrand {
    font-size: 1.5rem;
  }
}
#navbar {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
#navbrand {
  font-family: 'Poppins', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #343a40;
  text-shadow: 1px 1px white;
  margin-right: 40px;
}
#NavLink {
font-family: 'Poppins';
color: #343a40;
margin-right: 20px;
}
#NavBarText {
font-family: 'Poppins';
font-weight: 400;
font-size: 12px;
color: #343a40;
margin-right: 10px;
text-align: center;
align-items: center;
}
#nav-logout-button {
  float: right;
  align-content: center;
  margin-top: 18px;
}
#nav-login-button {
  float: right;
  align-content: center;
  margin-top: 0;
}
#fa {
height: 30px;
width: 30px;
float: right;
color: #343a40;
margin-right: 15px;
margin-left: 10px;
}
#fa-contact-form {
  height: 60px;
width: 60px;
color: #5d90c4;

}
#DropDownMenu {
background-color: #343a40;
}
#dropdownmenu {
background-color: #343a40
}
#register-form {
  align-items: center;
}
#login-form {
  margin-top: 3rem;
}
#admin-login-form {
  margin-top: 3rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  /* border-color:  rgb(235, 100, 123);
  border-style: solid;
  border-width: 5px; */
  padding: 20px;
  /* box-shadow: 10px 10px 20px gray */
}
#admin-submit-login {
  background-color: rgb(235, 100, 123);
  border-color: black;
  border-width: 1px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
#forum-title-div {
  margin-top: 40px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
#forum-question-div {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}