@media only screen and (max-width: 299px) {
  #navbrand {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 365px) {
  #navbrand {
    font-size: 1.5rem;
  }
}
#admin-login-form.container {
  color: black;
  background-color: white;
}
#navbar {
  width: 100%;
}
#navbrand {
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  margin-right: 40px;
  border-color: gray;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  padding: 10px;

}
#dropdownmenu.navbar-toggler {
  background-color: #343a40;
  border-color: gray;
}
/* font-family: 'Alegreya', serif;
font-family: 'Montserrat', sans-serif; */
#NavLink {
  font-family: 'Montserrat', sans-serif;
font-variant: small-caps;
color: white;
margin-right: 20px;
}
#NavBarText {
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
font-weight: 400;
font-size: 12px;
color: white;
margin-right: 10px;
text-align: center;
align-items: center;
}
#fa-user-icon {
height: 30px;
width: 30px;
float: right;
margin-right: 15px;
margin-bottom: 5px;
margin-left: 10px;
color: gray;
}
#nav-logout-button {
  float: right;
  align-content: center;
  margin-top: 18px;
}
#nav-login-button {
  float: right;
  align-content: center;
  margin-top: 0;
}
#fa {
height: 30px;
width: 30px;
float: right;
color: #343a40;
margin-right: 15px;
margin-left: 10px;
}
#fa-contact-form {
height: 60px;
width: 60px;
color: #5d90c4;

}
#DropDownMenu {
background-color: #343a40;
}
#dropdownmenu {
background-color: #343a40
}
#register-form {
  align-items: center;
}
#login-form {
  margin-top: 3rem;
}
#admin-login-form {
  margin-top: 3rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  /* border-color:  rgb(235, 100, 123);
  border-style: solid;
  border-width: 5px; */
  padding: 20px;
  /* box-shadow: 10px 10px 20px gray */
}
/* #admin-submit-login {
  background-color: #ff4da6;
  font-weight: bolder;
  color: white;
} */
#forum-title-div {
  /* margin-top: 40px; */
  display: block;
  margin-bottom: 20px;
}
#forum-question-div {
  display: block;
  margin-bottom: 20px;
}
.Toastify__toast-body.Toastify__toast--warning { 
  font-family: 'Monserrat', sans-serif;
  background-color: #ffa64d; 
}

.Toastify__toast.Toastify__toast--warning {
  font-family: 'Monserrat', sans-serif;
  background-color: #ffa64d;
}
.Toastify__toast-body.Toastify__toast--info { 
  font-family: 'Monserrat', sans-serif;
  background-color: rgb(187, 97, 157); 
}

.Toastify__toast.Toastify__toast--info {
  font-family: 'Monserrat', sans-serif;
  background-color: rgb(187, 97, 157);
}
.Toastify__toast-body.Toastify__toast--success { 
  font-family: 'Monserrat', sans-serif;
  background-color: #288046; 
}

.Toastify__toast.Toastify__toast--success {
  font-family: 'Monserrat', sans-serif;
  background-color: #288046;
}
#usersToggler {
  width: 80px;
  font-size: 14px;
  background-color: #288046;
  padding-right: 10px;
  padding-left: 10px;
}
#pendingToggler {
  width: 80px;
  font-size: 14px;
  background-color: #5d90c4;
  padding-right: 15px;
  padding-left: 10px;
}
#contactsToggler {
  width: 80px;
  font-size: 14px;
  background-color: #ffa64d;
  padding-right: 15px;
  padding-left: 10px;
}
.heart-icon {
    font-size: 100px;
    animation-duration: 2s;
    animation-name: pulse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-play-state: running;
  }
  
  @keyframes pulse {
    0%{
    
    transform: scale(1);
    color: pink;
    }

  
    50% {
      color: rgb(204, 31, 68);
      transform: scale(1.8);

    }
    100% {
      transform: scale(1);
      color: pink;
    } 

  }

  @keyframes load {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader {
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-left: 4px solid;
    animation: load 1s infinite linear;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .button {
    background-color: #343a40;
    font-family: 'Kanit';
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    color: white;
    padding: .5rem 1rem;
    width: 150px;
  }
  
  .button > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  